/*.bread-crumb {
  margin: 0 20px;
  color: #F79F66;
  font-weight: 300;
}

.bread-crumb:hover {
  color: rgb(252, 145, 78);
}*/

main {
  width: 70%;
  text-align: justify;
  line-height: 1.5em;
  flex-direction: column;
}

.continue {
  margin-top: 60px;
}

.continue p {
  text-align: center;
  font-size: 18px;
  margin: 0;
}

aside {
  width: 25%;
  flex-direction: column;
}

aside img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.aside-info {
  padding: 0.2em 1.5em;
}

.label {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #F79F66;
  /*color: rgb(100, 100, 100);*/
  margin: 1.5em 0 0 0;
}

.labeled {
  margin: 0.2em 0 0 0;
  font-size: 18px;
  font-weight: 300;
}
