/*FONTS*/
/*Chelsea Market:*/
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
/*Fredericka the Great:*/
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
/*Abril Fatface:*/
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
/*Playfair Display:*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap');
/*Roboto:*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');

/*STYLING SHEETS*/
@import url(headnfoot.css);
@import url(button.css);
@import url(card.css);
@import url(bullet-points.css);

/*COLOURS*/
/*turquoise: #0D7E83
dark-turquoise: #076570
peach: #F79F66
dark-orange: #F15340
pink: #D37C71*/

/*branding: rgb(255, 147, 0)
ux-design: #9437FF
front-end: rgb(0, 182, 255)
full-stack: turquoise #0D7E83
back-end: rgb(142, 250, 0)*/

body {
  margin: 0;
  background-color: rgb(250, 250, 250);
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Chelsea Market', sans-serif;
  font-size: 55px;
  margin-bottom: 60px;
}

h2 {
  font-family: 'Chelsea Market', sans-serif;
}

a {
  text-decoration: none;
}

.text-link {
  color: #0D7E83;
  font-weight: bold;
}

.text-link:hover {
  color: #076570;
}

.horizontal-list ul {
  margin: 0;
  padding: 0;
}

.horizontal-list li {
  display: inline-block;
  padding-right: 20px;
}

.long-text {
  text-align: justify;
  line-height: 1.5em;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.main-container {
  min-height: calc(100vh - 299px);
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.space-betw {
  justify-content: space-between;
}

@media (max-width: 1040px) {
  .container {
    max-width: 800px;
  }
}

@media (max-width: 840px) {
  .container {
    max-width: 500px;
  }

  .flex {
    flex-direction: column;
  }

  .wrap {
    flex-direction: row !important;
  }
}

@media (max-width: 540px) {
  h1 {
    font-size: 45px;
  }

  h1 small {
    font-size: 0.7em;
  }

  .container {
    max-width: 310px;
  }
}



